<div style="text-align:center">
  <h3>{{title}}</h3>
  <div style="display: flex">
    <div style="margin-left: 10px; padding: 10px; border: 1px solid black; box-shadow: 3px 2px 8px 0px #ccc;">
      <nav>
        <a routerLink="/rosechart">Nightingale's Rose Chart</a>
      </nav>
    </div>
    <div style="margin-left: 30px; padding: 10px; border: 1px solid black; box-shadow: 3px 2px 8px 0px #ccc;">
      <nav>
        <a routerLink="/minardchart1">Minard Chart</a>
      </nav>
    </div>
    <div style="margin-left: 30px; padding: 10px; border: 1px solid black; box-shadow: 3px 2px 8px 0px #ccc;">
      <nav>
        <a routerLink="/minardchart2">Minard Chart II</a>
      </nav>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
